.sidebar {
  width: 220px;
  height: 100%;
  background: #1356b9;
  color: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  background: #1759e9;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
}
.sidebar h2:hover {
transform: scale(1.05);              
  box-shadow: 0 6px 18px rgba(0,0,0,.12);

}


.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px;
  margin: 6px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  
}


.sidebar a {
  text-decoration: none;
  color: inherit;
  display: block;
  
}


.sidebar ul li:hover {
  background: #358ee7;
  transform: scale(1.1);              
  box-shadow: 0 6px 18px rgba(0,0,0,.12);
}
.sidebar ul li a.active{
  background: #358ee7;
  transform: scale(1.3);              
  box-shadow: 0 6px 18px rgba(0,0,0,.12);
  border-radius: 5px;
  padding: 6px;
  margin-right: 5px;
}
.menu-disabled {
  opacity: 0.5;
  pointer-events: none;
}


