.customer-containerc {
  padding: 20px;
}
.customer-containerc h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 28, 177);
}

.title-icon {
  width: 30px;
  vertical-align: middle;
  
}

.form-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.form-leftc, .form-rightc {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(173, 111, 111, 0.1);
  width: 50%;
}

.form-leftc label, .form-rightc label {
  font-weight: bold;
  font-size: 20px;
  color: #03069b;
}

input, select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button-section2 {
  margin-bottom: 10px;
}

.button-section2 button {
  margin-right: 10px;
  Padding: 15px 30px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.btncnew{
    background: rgb(66, 126, 216);
    
}
.btncnew:hover{
    background: rgb(48, 68, 158);
}
.btncexit{
    background: rgb(224, 55, 55);
    
}
.btncexit:hover{
    background: rgb(158, 41, 41);

}
.btncsave{
    background: rgb(33, 156, 33);
}
.btncsave:hover{
    background: rgb(52, 121, 49);
}
.btncclear{
    background: rgb(150, 149, 148);
}
.btncclear{
    background: rgb(109, 109, 108);
}
.btncmodify{
    background: rgb(25, 25, 206);
}
.btncmodify:hover{
    background: rgb(11, 11, 156);
}
.btncdelete{
    background: rgb(238, 76, 76);
}
.btncdelete:hover{
    background: rgb(153, 35, 35);
}




.customer-gridc {
  width: 100%;
  border-collapse: collapse;
 
}

.customer-gridc th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  background: #3a45dd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.customer-gridc td{
border: 1px solid #aaaaaa;
  padding: 8px;
  text-align: left;
}

.customer-gridc tr:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.page-layoutc {
  display: flex;
  height: 100vh;
}

/* Sidebar stays fixed */
.page-layoutc > .menu {
  width: 220px;
  background: #2c3e50;
  color: white;
  flex-shrink: 0;
}

/* Main content */
.customer-containerc {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
  overflow-y: auto;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 6px;
  transition: all 0.3s ease;
}

/* While typing */
input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

/* When input has text */
input[type="text"].has-text {
  background-color: #e6f2ff; /* light blue */
  border-color: #007bff;
}