.layout {
  display: flex;
  min-height: 100vh;
  background: #ecf0f1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(28, 28, 177);
}

.menu-wrap {
  padding: 0px;
}

.page {
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  margin: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(28, 28, 177);
}


input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
  color: #007bff;  /* text color while typing */
}

.form-container {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.form-left,
.form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button-bar {
  margin: 15px 0;
  display: flex;
  gap: 12px;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btngrnnew{
  background: rgb(66, 126, 216);
}
.btngrnnew:hover{
  background: rgb(48, 68, 158);
}
.btngrnexit{
  background: rgb(224, 55, 55);
}
.btngrnexit:hover{
  background: rgb(158, 41, 41);
}
.btngrnsave{
  background: rgb(33, 156, 33);
}

.btngrnsave:hover{
  background: rgb(52, 121, 49);
}
.btngrnclear{
  background: rgb(150, 149, 148);
}
.btngrnclear:hover{
  background: rgb(109, 109, 108);
}
.btngrnedit{
  background: rgb(25, 25, 206);
}
.btngrnedit:hover{
  background: rgb(11, 11, 156);

}
.btngrndelete{
  background: rgb(238, 76, 76);
}
.btngrndelete:hover{
  background: rgb(153, 35, 35);
}
.btngrnprint{
  background: rgb(38, 136, 128);
}
.btngrnprint:hover{
  background: rgb(14, 109, 101);
}
.btngrnview{
  background: rgb(146, 8, 146);
}
.btngrnview:hover{
  background: rgb(92, 5, 92);
}



.data-grid {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.data-grid th,
.data-grid td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.data-grid th {
  background: #3a45dd;
  color: #fff;
}

.data-grid tr:hover {
  background: #f1f1f1;
  cursor: pointer;
}
