.container3 {
  display: flex;
  height: 100vh;
}

.content3 {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  gap: 30px;
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: #124186;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1759e9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.summary {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 15px;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
  color: #007bff;  
}
