.container3 {
  display: flex;
 min-height: 1000px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content3 {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  margin-bottom: 20px;
}



.form-left, .form-right {
  flex: 1; 
  background: #fff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.form-left label,
.form-right label {
  font-weight: bold;
  color: #34495e;
  font-size: 14px;
}

.form-left input,
.form-right input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: #124186;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1759e9;
}

.btnaddmt { background: rgb(66, 126, 216); }
.btnaddmt:hover { background: rgb(48, 68, 158); }

.btnexitmt { background: rgb(224, 55, 55); }
.btnexitmt:hover { background: rgb(158, 41, 41); }

.btnsavemt { background: rgb(33, 156, 33); }
.btnsavemt:hover { background: rgb(52, 121, 49); }

.btnclearmt { background: rgb(150, 149, 148); }
.btnclearmt:hover { background: rgb(109, 109, 108); }

.btnmodifymt { background: rgb(25, 25, 206);  }
.btnmodifymt:hover { background: rgb(11, 11, 156); }

.btndeletemt { background: rgb(238, 76, 76); }
.btndeletemt:hover { background: rgb(153, 35, 35); }

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.summary {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 15px;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
  color: #007bff;  
}
