.sales-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.sales-content {
  flex: 1;
  padding: 20px;
  background: #f9fafc;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sale-type {
  display: flex;             
  justify-content: center;   
  align-items: center;       
  gap: 60px;                
  margin-bottom: 20px;
  
}
.sale-type input {
  transform: scale(1.5);
  margin: 0;
 
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
  color: #007bff;  
}

.sale-type label {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  
}

.form-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.form-lefts,
.form-rights {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(173, 111, 111, 0.1);
}

.form-lefts,.form-rights label {
  font-size: 25x;
  margin-bottom: 3px;
  color: #03069b;
}
.form-rights button{
    background: rgb(32, 145, 32);
    padding: 10px;
    font-size: 20px;
}
.form-rights button:hover{
    background: rgb(2, 110, 2);
    
}




.button-group1 {
  text-align: center;
  margin: 15px 0;
}
.button-group1 button {
  margin: 5px;
  padding: 15px 30px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.newbtn{
    background: rgb(66, 126, 216);
}
.newbtn:hover{
    background: rgb(48, 68, 158);
}
.btnsave{
    background: rgb(33, 156, 33);
}
.btnsave:hover{
    background: rgb(52, 121, 49);
}
.btnclear{
    background: rgb(150, 149, 148);
}
.btnclear:hover{
    background: rgb(109, 109, 108);

}
.btnexit{
    background: rgb(224, 55, 55);
}
.btnexit:hover{
    background: rgb(158, 41, 41);
}
.addbtn{
    background:green;
}
.btnmodify{
    background: rgb(25, 25, 206);
}
.btnmodify:hover{
    background: rgb(11, 11, 156);
}
.btndelete{
    background: rgb(238, 76, 76);
}
.btndelete:hover{
    background: rgb(153, 35, 35);
}

.grid-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}
.grid-table th,
.grid-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.grid-table th {
  background: #3a45dd;
  color: white;
}

.grid-table tr.selected {
  background: #d1e7ff;
}

.totals {
  margin-top: 20px;
  text-align: right;
  font-size: 16px;
}
.addbtn{
  background: rgb(45, 148, 45);
}
.btnprint{
    background: rgb(38, 136, 128);
}
.btnprint:hover{
    background: rgb(14, 109, 101);
}
.btnview{
    background: rgb(146, 8, 146);
}
.btnview:hover{
    background: rgb(92, 5, 92);
}

@media(max-width: 900px){
  .form-grid {
    flex-direction: column;
  }
}

.grid-totals {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: right; /* align everything to right */
}
.grid-totals p {
  margin: 2px 0;
}

.autocomplete-popup {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-popup li {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-popup li:hover {
  background-color: #f0f0f0;
}
