.supplier-container {
  padding: 20px;
   min-height: 1000px;
}

.title-icon {
  width: 30px;
  vertical-align: middle;
  
}

.form-sectionsu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-leftsu, .form-rightsu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(173, 111, 111, 0.1);
  width: 47%;
  
}

.form-leftsu label, .form-rightsu label {
  font-weight: bold;
  font-size: 20px;
  color: #03069b;
}

input, select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
input[type="text"]:focus {
  
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);

}



.button-sectionsu {
  margin-bottom: 20px;
}

.button-sectionsu button {
  margin-right: 10px;
  padding: 15px 30px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btnsusave{
    background: rgb(33, 156, 33);
}
.btnsusave:hover{
    background: rgb(52, 121, 49);
}
.btnsunew{
    background: rgb(66, 126, 216);
}
.btnsunew:hover{
    background: rgb(48, 68, 158);
}
.btnsuclear{
    background: rgb(150, 149, 148);
}
.btnsuclear:hover{
    background: rgb(109, 109, 108);
}
.btnsuexit{
    background: rgb(224, 55, 55);
}
.btnsuexit:hover{
    background: rgb(158, 41, 41);
}
.btnsumodify{
    background: rgb(25, 25, 206);
}
.btnsumodify:hover{
    background: rgb(11, 11, 156);
}
.btnsudelete{
    background: rgb(238, 76, 76);
}
.btnsudelete:hover{
    background: rgb(153, 35, 35);
}

.supplier-grid {
  width: 100%;
  border-collapse: collapse;
}



.supplier-grid th  {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  background: #3a45dd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.supplier-grid td{
border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.supplier-grid tr:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.page-layout {
  display: flex;
   min-height: 100vh;
}


.page-layout > .menu {
  width: 220px;
  background: #2c3e50;
  color: white;
  flex-shrink: 0;
  
}


.supplier-container {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
  overflow-y: auto;
  
}

.supplier-container h2{
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(28, 28, 177);
}

.search-section-supdet {
  margin-bottom: 15px;
}

.search-section-supdet input {
  width: 15%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.pagination-supdet {
  margin-top: 15px;
}

.pagination-supdet button {
  margin-right: 5px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}

.pagination-supdet button.active-page-supdet {
  background: #4287f5;
  color: white;
  border-color: #4287f5;
}


.supplier-containersup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.user-infosup {
 
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.usernamesup, .datesup {
  font-weight: bold;
  color: #3333cc;
}

